### Setup the google colab notebook

#### Go to the URL in a browse and Enter your authorization code in the given cell:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Loading the libraries

In [1]:
import pandas as pd
import numpy as np
import sklearn
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

### Loading the data generated from grasshopper (CSV)

In [2]:
#data = pd.read_csv('/content/drive/My Drive/Data/data.csv')
data = pd.read_csv('Desktop/daylight.csv')

### Exploring our data

In [3]:
data

,width,length,height,WWR,surface_area,volume,Average Daylight Autonomy,Floor_area
0,4,5,4,0.60,52,80,100.000000,20
1,4,6,4,0.60,56,96,99.729167,24
2,5,6,3,0.60,56,90,98.691667,30
3,4,7,3,0.60,56,84,84.562500,28
4,5,7,3,0.60,60,105,90.807143,35
...,...,...,...,...,...,...,...,...
110,5,7,4,0.55,64,140,98.114286,35
111,3,8,4,0.55,60,96,76.322917,24
112,4,8,4,0.55,64,128,85.601563,32
113,5,8,4,0.55,68,160,92.362500,40
114,3,6,3,0.55,48,54,86.361111,18

In [4]:
data.describe()

,width,length,height,WWR,surface_area,volume,Average Daylight Autonomy,Floor_area
count,115.000000,115.000000,115.000000,115.000000,115.000000,115.00000,115.000000,115.000000
mean,4.260870,7.034783,3.513043,0.715652,59.234783,105.53913,92.103607,30.069565
std,0.849013,0.907381,0.502017,0.146204,5.579301,30.96809,9.406025,7.726375
min,3.000000,5.000000,3.000000,0.400000,48.000000,54.00000,61.583333,18.000000
25%,4.000000,6.000000,3.000000,0.600000,56.000000,84.00000,86.273413,24.000000
50%,4.000000,7.000000,4.000000,0.750000,60.000000,96.00000,96.300000,30.000000
75%,5.000000,8.000000,4.000000,0.850000,64.000000,120.00000,99.383928,35.000000
max,6.000000,9.000000,4.000000,0.900000,76.000000,216.00000,100.000000,54.000000

### Seperating input and output variables

#### Replace Average Daylight Autonomy with your target output variable name

In [7]:
y = data['Average Daylight Autonomy']
data.drop(['Average Daylight Autonomy'],axis = 1, inplace = True)

### Splitting the data into training and testing data

In [8]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.25, random_state = 42)

## Linear Regression

### Define the ML model

In [9]:
clf = LinearRegression()

### Fit the defined model

In [10]:
clf.fit(X_train, y_train)

LinearRegression()

### Predict the values for testing data

In [11]:
y_pred = clf.predict(X_test)

In [12]:
y_pred

array([ 84.67146663,  87.6203997 ,  94.02871341,  94.84638478,
        87.97582522,  87.34375995,  99.50935151,  73.13602737,
        94.30113302,  78.79712652,  82.80556651,  95.5280047 ,
        76.69349967,  90.64681378,  98.66499852, 104.4986075 ,
        88.68412676, 101.33729185,  93.64539637, 108.37188924,
        90.02027342,  84.67568677,  82.27581305,  85.31960358,
        78.89266869,  84.04914641,  90.83794479, 107.03574258,
       100.00114519])

### Convert the predicted values to Integers if required

In [102]:
#y_pred = y_pred.astype('int64')
#y_pred

### Computing the R^2 error

In [13]:
sklearn.metrics.r2_score(y_test, y_pred)

0.7680613436713226

### Bonus 
#### Random Forest Regression

In [15]:
clf = RandomForestRegressor()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred = y_pred.astype('int64')
sklearn.metrics.r2_score(y_test, y_pred)

0.7696034482064642

### Train the model on the complete dataset

In [16]:
clf = LinearRegression()
clf.fit(data, y)

LinearRegression()

### Exporting the trained model with m2cgen library