### Setup the google colab notebook

#### Go to the URL in a browse and Enter your authorization code in the given cell:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Loading the libraries

In [92]:
import pandas as pd
import numpy as np
import sklearn
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

### Loading the data generated from grasshopper (CSV)

In [93]:
data = pd.read_csv('/content/drive/My Drive/Data/data.csv')

### Exploring our data

In [94]:
data

             area   perimeter  spots
0      217.619843   63.613682     11
1      267.016908   67.120909     13
2      222.999889   64.618939     14
3      262.669300   66.072496     18
4      181.505369   57.351369     13
...           ...         ...    ...
9105  1925.917943  180.623166     66
9106  2626.228436  188.023652     70
9107  2066.974872  192.200850     69
9108  1552.946546  195.379820     72
9109  2903.895463  176.155073     64

[9110 rows x 3 columns]

In [95]:
data.describe()

               area    perimeter        spots
count   9110.000000  9110.000000  9110.000000
mean    3125.445903   215.626502   114.909221
std     3400.555429   103.281485   144.384508
min      106.558560    46.446287     6.000000
25%     1030.218283   140.416821    37.000000
50%     2015.562236   196.056451    66.000000
75%     3845.932488   266.088798   129.000000
max    28279.490400   676.753933  1218.000000

### Seperating input and output variables

In [96]:
y = data.spots
data.drop(['spots'],axis = 1, inplace = True)

### Splitting the data into training and testing data

In [97]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.25, random_state = 42)

## Linear Regression

### Define the ML model

In [98]:
clf = LinearRegression()

### Fit the defined model

In [99]:
clf.fit(X_train, y_train)

LinearRegression()

### Predict the values for testing data

In [100]:
y_pred = clf.predict(X_test)

In [101]:
y_pred

array([ 23.73942553,  13.46740747, 404.96038617, ...,   6.36630081,
       157.70567998,  39.35661577])

### Convert the predicted values to Integers

In [102]:
y_pred = y_pred.astype('int64')

In [103]:
y_pred

array([ 23,  13, 404, ...,   6, 157,  39], dtype=int64)

### Computing the R^2 error

In [104]:
sklearn.metrics.r2_score(y_test, y_pred)

0.8425578460491101

## Random Forest Regression

In [105]:
clf = RandomForestRegressor()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
y_pred = y_pred.astype('int64')
sklearn.metrics.r2_score(y_test, y_pred)

0.9696866681514807